<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1076629744914-r00unc3mprnv9jummv6efb7gvbs84tgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076629744914-r00unc3mprnv9jummv6efb7gvbs84tgb</string>
	<key>API_KEY</key>
	<string>AIzaSyB2TbfmxDTy3IvnYPe_r-UYRjQb_jziGns</string>
	<key>GCM_SENDER_ID</key>
	<string>1076629744914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gameChat.mobile</string>
	<key>PROJECT_ID</key>
	<string>vertx-d49de</string>
	<key>STORAGE_BUCKET</key>
	<string>vertx-d49de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076629744914:ios:5fc443243aaf5953</string>
	<key>DATABASE_URL</key>
	<string>https://vertx-d49de.firebaseio.com</string>
</dict>
</plist>